<h2>Find a new recipe from LetsCookFrench</h2>

<form action="/search" method="post">
  <label for="ingredient">Ingredient:</label>
  <input id="ingredient" type="text" name="ingredient">
  <label for="diff">Challenge (0-4):</label>
  <input id="diff" type="text" name="diff">
  <input type="submit" value="Search">
</form>